


.chart-grid-date{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-top: 2%;
    /* background-color: aqua; */
    /* align-self:center; */
}

.chart-grid-site{

}

.chart-grid-kpi{
    display: flex;
    /* border-color: black;
    border-style: solid;
    border-width: 1px; */
    flex-direction: column;
    flex-grow: 0;
    width: 500px;
    height: 250px;
    overflow: auto;
    /* flex-shrink: 1; */
    /* position: absolute; */
    /* height: 700; */
    /* background-color:ivory; */
    /* position: relative; */
}

.chart-grid-session{
    display: flex;
    /* border-color: black;
    border-style: solid;
    border-width: 1px; */
    width: 35%;
    flex-direction: column;
    flex-grow: 0;
    /* flex-shrink: 1; */
    height: 35%;
    /* position: absolute; */
    /* display: flex; */
    /* justify-content: center; */
    /* flex: 0 0 1; */
}

.csv-link {
    display: flex;
    /* flex: 1 1 1; */
    width: 100%;
    height: 6%;
    background-color: #f2f2f2;
    color: #333;
    /* padding: 10px 20px; */
    border-radius: 5px;
    /* text-decoration: none; */
    /* font-family: 'Gotham Light'; */
    /* font-weight: bold; */
  }
  
  .csv-link:hover {
    background-color: #ddd;
  }

.charts-container{
    display: flex;
    width: 1500px;
    height: 1000px;
    /* max-height: 2000px; */
    /* min-width: 0; */
    /* min-height: 0; */
    overflow: scroll;
    /* flex-grow: 1; */
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    /* padding: 55px; */
    /* overflow: hidden; */
    /* flex: 0 0 0; */
    padding-left: 2.5%;
    padding-right: 2.5%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(236, 19, 55);
  z-index: 999;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  right: -500px;
  width: 500px;
  height: 100%;
  background-color: #e8e8ec;
  z-index: 1000;
  transition: right 0.3s ease-in-out;
  /* padding-top: 50px; */
  padding-left: 5px;
  padding-right: 5px;
  align-items: center;
}

.sidebar.visible {
  right: 0;
}

.overlay.visible {
  opacity: 1;
}