


.chart-grid-date{
    display: flex;
    justify-content: space-around;
    width: 100%;
    /* background-color: aqua; */
    /* align-self:center; */
}

.chart-grid-site{

}

.chart-grid-kpi{
    border-color: black;
    border-style: solid;
    border-width: 1px;
    /* height: 700; */
    /* background-color:ivory; */
}

.chart-grid-session{
    border-color: black;
    border-style: solid;
    border-width: 1px;
    display: flex;
    justify-content: center;
    /* flex: 0 0 1; */
}